/* body{
    background-image: url('apj-modified.png');
    border-color: 200px red;
    background-repeat: no-repeat;
    background-size: 300px;
    background-attachment: local;
    
}
.bg{
    background-color: aqua;
    width: 20px; */